.right-sidebar {
  width: 425px;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  color: #333;
  position: fixed;
  right: 3px;
  top: 0;
  bottom: 0; 
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.user-role {
  margin: 0;
  color: green;
}

.notification-bell {
  position: relative;
  left: 15px; 
  font-size: 35px;
  cursor: pointer;
}


.search-bar {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 25px;
  background-color: #f8f9fa;
  color: #333;
}

.inbox {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  max-height: 300px;
  overflow-y: auto;
}

.inbox h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.message:last-child {
  border-bottom: none;
}

.message p {
  margin: 5px 0;
}

.message strong {
  font-size: 14px;
}

.message span {
  float: right;
  color: #888;
}

.unread {
  background-color: #27d8c3;
  border-radius: 5px;
}

.read {
  color: #555;
}

.top-selling {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.top-selling h4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.time-frame {
  background-color: #27D8C3;
  color: white;
  padding: 2px 5px;
  border-radius: 45px;
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.product-sale {
  font-weight: bold;
}
