/* BestSellingCategory.css */
.best-selling-category {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.category-header h5 {
  font-size: 16px;
  color: #343a40;
}



.see-all:hover {
  text-decoration: underline;
}

.category-table {
  width: 100%;
  font-size: 14px;
  color: #6c757d;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  padding: 10px 5px;
  text-align: left;
}

.category-table th {
  font-weight: bold;
  color: #6c757d;
}

.category-table .increase-by {
  color: #28a745;
  font-weight: bold;
}