.overview-container {
  background-color:white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin:0%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-right: 100px;
  margin-left: -10px;
  position:static;
}

.overview-header {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-item {
  text-align: center;
}

.stat-value {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.stat-label {
  font-size: 14px;
  color: #666;
}

.revenue-label {
  color: #3bc9a7;
}

.sales-label {
  color: #a785ff;
}
