@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

/* For webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
	width: 20px; /* Reduced width of the vertical scrollbar */
	height: 5px; /* Reduced height of the horizontal scrollbar */
}



::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #27d8c3;
	border-radius: 2px; /* Rounded corners for the thumb */
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #27d8c3 transparent;
}


/* For webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 20px; /* Reduced width of the vertical scrollbar */
  height: 5px; /* Reduced height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27D8C3;
  border-radius: 2px; /* Rounded corners for the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27D8C3 transparent;
}


@media (prefers-color-scheme: light) {

	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
