.manage-store-page {
  display: flex;
  background-color: #f8f9fa; /* Light grey background for the whole page */
  max-Height:700px ;
  overflow-y: auto;
}

.store-header h1 {
  font-size: 40px;
  font-weight: 900;
  position: relative;
  left: 35.5%;
  align-items: center;
  justify-content: center;
  
}

.main-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/* Right Side Bar */
.right-sidebar {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  color: #333;
}

/* Inbox.css */
.inbox {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  max-height: 300px;
  overflow-y: auto;
  
}

.inbox h3 {
  
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.message:last-child {
  border-bottom: none;
}

.message p {
  margin: 5px 0;
}

.message strong {
  font-size: 18px;
}

.message span {
  float: right;
  color: #888;
}

.unread {
  background-color: #27d8c3;
  border-radius: 5px;
}

.read {
  color: #555;
}
/*Search bar and notification bell*/

input[type="search"],
.search-bar {
  background-color: #f8f9fa; /* Light grey color */
  color: #333; /* Text color */
  border: 1px solid #ccc; /* Optional: adjust the border color */
}

.inbox-header {
  display: flex;
}
.search-bar {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 25px;
  width: 95%;
}

.notification-bell {
  position: relative;
  left: 90px;

  font-size: 37px;
  cursor: pointer;
}
h3{
  font-size: 25px;
  font-weight: 500;
}
p {
  font-size: 18px;
  font-weight: 400;
}
/*Chat Box*/


/* AdminActivity.css */
.admin-activity {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-right: 15px;
}

.admin-activity h3 {
 
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-activity ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-activity li {
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
}
h3{
  font-size: 25px;
  font-weight: 500;
}
/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header input[type="text"] {
  background-color: #f8f9fa;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  width: 300px;
} 

.user-info {
  display: flex;
  align-items: center;

}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  color: #495057 ;
  font-weight: bold;
  font-size:25px;
}

.title {
  color: #27d8c3 ;
}

/* Store list styles */
.store-header {
  width: 865px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
 
}


.store-list {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 700px;
  overflow-y: auto;
}

.add-store {
  background-color: #27d8c3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 12px;
  cursor: pointer;
  
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.store img {
  width: 100px;
  border-radius: 10px;
}

.store-info {
  flex-grow: 1;
  margin-left: 20px;
}

.store-info h3 {
  margin: 0;
  color: #495057;
 
}

.store-info p {
  margin: 5px 0;
  color: #6c757d;
}

.edit-store {
  background-color: white;
  color: #27d8c3;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.input-field {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  font-size: 20px;
}

.save-store {
  background-color: #58d365;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.store-list button:hover {
  background-color: #218872;
  
}
