.order-page-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f3f5;
    height: 100vh;
}

.order-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex: 1;
}

@media (max-width: 768px) {
    .order-content {
        flex-direction: column;
    }
}
